/* news and weather */
.button.is-light, .button.is-primary { 
  background-color: #75B8BF;
  color: white;
}

.button.is-light:hover { 
  background-color: #243E73;
  color: white;
}

.button.is-primary:hover {
  background-color: #011140;
  color: white;
}

.card {
  background: linear-gradient(135deg, #75b8bf, #243E73);
  border-radius: 10px;
  color: #fff;
  padding:  35px;
  text-align: center;
}

.center {
  text-align: center;
}

.col {
  align-items: center;
  display: flex;
  text-align: left;
}

.col img {
  margin-right: 10px;
  width: 40px;
}

.details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 20px;
}

.error, .news-error {
  display: none;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
}

.flex-container {
  align-items: center;
  border-color: black;
  border-style: solid;
  display: flex;
  justify-content: center;
}

.humidity, .wind {
  font-size: 28px;
  margin-top: -6px;
}

.news, .weather {
  display: none;
}

.news-card {
  background: linear-gradient(135deg, #243E73, #75b8bf);
  border-radius: 10px;
  color: #fff;
  padding: 35px;
  text-align: center;
}

.news-image {
  width: 400px;
}

.news-link, .news p {
  font-size: 20px;
}

.news-search button:hover {
  background-color: #243E73;
}

.news-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.search, .news-search {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search button, .news-search button {
  background: #ebfffc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  outline: 0;
  width: 60px;
}

.search button:hover {
  background-color: #75b8bf;
}

.search button img, .news-search button img {
  width: 16px;
}

.search input, .news-search input {
  background: #ebfffc;
  border: 0;
  border-radius: 30px;
  color: #555;
  flex: 1;
  font-size: 18px;
  height: 60px;
  margin-right: 16px;
  outline: 0;
  padding: 10px 25px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.weather-icon {
  margin-top: 30px;
  width: 170px;
}

.weather-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

  /* to do list */
.btn-primary {
  background-color: #75B8BF;
  border-radius: 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #011140;
  color: white;
}

#date {
  color: #243E73;
  display: flex;
  padding-left: 10px;
}

.input.is-size-4 {
  background-color: #ebfffc;
}

li {
  background-color: #75B8BF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width:100%;
}

.list-card {
  background-color: #243E73;
  border-radius: 10px;
  color: #fff;
  padding: 40px 35px;
  text-align: center;
}

#todo-list {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 15px;
}

#todo-list li {
  border-radius: 30px;
  font-size: 1.25rem;
  padding: 10px;
}

#todo-list li:nth-child(even) {
  background-color: #011140;
  margin-top: 10px;
}

#todo-list li:nth-child(odd) {
  background-color: #75B8BF;
  margin-top: 10px;
}

#todo-list li:nth-child(even) .btn-primary {
  background-color: #75B8BF;
}

#todo-list li:nth-child(odd) .btn-primary, #todo-list li:nth-child(odd) .btn-primary {
  background-color: #011140;
  color: white;
}

#todo-list li:nth-child(even) .btn-primary:hover, #todo-list li:nth-child(odd) .btn-primary:hover {
  background-color: #243E73;
}

/* pop up modal */
.modal {
  background-color: #EBFFFC;
  border-radius: 10px;
  display: flex;
  max-width: 30%;
  max-height: 30%;
  text-align: center;
}

#modal-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  bottom: 0;
  display: none;
  flex-direction: space-evenly;
  position: fixed;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.modal-container.show {
  pointer-events: auto;
}
