.flex-container{
    display: flex;
    border: black;
    justify-content: center;
    border-color: black;
    border-style: solid;
    align-items: center;
}
.three-columns {
    display:flex;
}

/* columns */
.three-columns > * {
    width:calc(100% / 3);
    padding:1rem;
    border:1px solid black;
}
